# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.hypothesis/
*.mo
*.pot
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.pybuilder/
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Excel
*.xls
*.xlsx
*.xlsm
*.xlsb
*.xltx
*.xltm
~$*.xls*

# CSV
*.csv